.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  min-height: 100dvh;
  max-height: 100dvh;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  width: 100%;
}