.nameIntro {
  font-size: 2rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  margin: 1rem 0;
  text-transform: uppercase;
}

.linkSection {
  margin-top: 2rem;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.bioParagraph {
  margin-bottom: 1rem;
}

/* Mobile */
@media (max-width: 700px) {
  .nameIntro {
    font-size: 1.6rem;
    margin-bottom: 1.25rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
