.arrowLink {
  opacity: var(--text-faded-opacity);
  display: flex;
  align-items: center;
  transition-duration: var(--transition-duration);
}

.arrowLink:hover {
  opacity: 1;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
