.backgroundRoot {
  position: fixed;
  inset: 0;
  z-index: -1;
  top: calc(-1 * env(safe-area-inset-top));
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100svh + env(safe-area-inset-top));
  overflow: hidden;
}