.header {
  width: 100%;
  padding: 2rem 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatarContainer {
  display: flex;
}

.linkContainer {
  display: flex;
  gap: 1em;
}

.linkHover {
  opacity: 0.65;
}

.linkHover:hover {
  opacity: 1 !important;
}

.active {
  opacity: 1;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: var(--text-underline-thickness);
  transition-duration: var(--transition-duration);
}