.inlineLink {
  color: var(--link-blue);
  text-decoration: underline;
  transition-duration: var(--transition-duration);
  text-shadow: none;
}

.inlineLink:hover {
  background-color: var(--link-blue);
  color: white !important;
}
