.inlineLink {
  color: var(--link-blue);
  text-decoration: underline;
  text-underline-offset: var(--text-underline-offset);
  text-decoration-thickness: var(--text-underline-thickness);
  transition-duration: var(--transition-duration);
  text-shadow: none;
}

.inlineLink:hover {
  background-color: var(--link-blue);
  color: white !important;
}
