.postList {
  margin-top: 1rem;
}

.postListItem {
  margin-bottom: 0.5rem;
  padding: 10px;
  border-radius: 5px;
  transition-duration: var(--transition-duration);
}

.postListItem:hover {
  background-color: rgba(211, 211 ,211, 0.2)
}

.titleWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 700px) {
  .titleWrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .postListItem:hover {
    background-color: initial;
  }  
}

.dateLabel {
  opacity: var(--text-faded-opacity);
}

.dateLabel, .articleTitle {
  padding: 0;
  margin: 0;
}
