.linkList {
  display: flex;
  flex-wrap: wrap;
}

.linkList svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  flex-shrink: 0;
}

.linkListItem {
  padding: 10px;
}